{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "**/*.spec.*",
    "coverage/**",
    "dist/**"
  ],
  "branches": 30,
  "lines": 30,
  "functions": 30,
  "statements": 30
}